*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-family: sans-serif;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block: 0;
}

ul[role="list"],
ol[role="list"] {
    list-style: none;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    height: 100vh;
}

h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

img,
picture {
    max-width: 100%;
    display: block;
}

input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

textarea:not([rows]) {
    min-height: 10em;
}

:target {
    scroll-margin-block: 5ex;
}

.content {
    background: #020024;
    background: linear-gradient(
        222deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(9, 9, 121, 1) 35%,
        rgba(0, 212, 255, 1) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    height: 100vh;
}

.sizes {
    display: flex;
    gap:4rem;
}

.sizes div {
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: black;
}

.container{
    margin-inline: 2rem;
    
}
@media (max-width: 1024px) {
    .sizes {
        display: flex;
        justify-content: space-around;
        width: 90%;
    }
}
@media (max-width: 768px) {
    .sizes {
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}
@media (max-width: 540px) {
    .sizes {
        display: flex;
        justify-content: space-around;
        width: 66%;
        zoom:60%;
    }
}

@media (min-width: 300px) and (max-width: 530px) {
    .sizes {
        display: flex;
        justify-content: space-around;
        width: 90%;
        zoom:60%;
    }
}

@media (max-width: 370px) {
    .sizes {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        zoom:50%;
        div{
            height: 200px;
            text-align: center;
            padding: 30%;
        }
    }
}